<?xml version="1.0"?>
<model>
  <name>Robot</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>William S Ferreira</name>
   <email>williamsantostr@gmail.com</email>
  </author>

  <description>
    DIfferential robot to simulate a real robot.
  </description>
</model>
